body {background-color: #f3f1ee;}
.flyingintro {text-align: center;}
.flyingintro p {width:80%; margin-left: auto; margin-right: auto;}
.flyinglogo {width: 146px; height:161px; text-align: center;}

/* For big screens */  

@media ( min-width: 550px ) {
    .flyinglogo {width: 30%; height:30%;}
}