/*body {background-color: #F9E1D8;}*/
.googleintro {text-align: center; margin-bottom: 3,5em;}
.googleintro p {width:75%; margin-left: auto; margin-right: auto;}
.googlelogo {width: 50%; height:50%; text-align: center; padding-bottom: 1.5em; padding-top: 1em;}

/* For big screens */  

@media ( min-width: 550px ) {
    .googlelogo {width: 30%; height:30%; padding-bottom: 2em;}
    .googleintro {text-align: center; margin-bottom: 0.5em;}
}