<!doctype html>
<html lang="en">

<head>
    <title>Markus Schmeiduch - Template</title>
	<meta charset="UTF-8" />
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" href="/css/hoth.css" media="screen">
    <link rel="stylesheet" href="https://use.typekit.net/imt0azi.css">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icon180.png">	
	<meta name="title" content="Markus Schmeiduch">
    <meta name="description" content="Portfolio of Markus Schmeiduch - Interaction Designer">
    <meta name="keywords" content="design, ux, ui, interaction, freelancer, vienna, linz, munich, schmeiduch, smeidu">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.smeidu.com">
	<meta property="og:title" content="Markus Schmeiduch">
	<meta property="og:description" content="Portfolio of Markus Schmeiduch - Interaction Designer">
	<meta property="og:image" content="/img/smeidu.png">
	<meta property="twitter:card" content="summary_large_image">
	<script defer data-domain="smeidu.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body">

<!-- header -->
<header class="container">
    <h1 class="logo"><a href="../welcome/">smeidu</a></h1>
	<nav class="nav">    
		<ul>
		<li><a href="../about/" class="navfirst">About</a></li><li><a href="../work/" class="navborder">Work</a></li><li><a href="../contact/" class="navlast" >Contact</a></li>
		</ul>
	</nav>

</header>

<!-- article --> 	
<article class="container">
    
<section id="Template">
    <h2>Template</h2>
	
	<div class="twelve columns">
	<p>Collecting a template elements on one page</p>
	<h3>The Grid</h3>
    <p>The grid is a 12-column fluid grid with a max width of 960px, that shrinks with the browser/device at smaller sizes. The max width can be changed with one line of CSS and all columns will resize accordingly. The syntax is simple and it makes coding responsive much easier. Go ahead, resize the browser.</p>
	</div>
	
    <div class="one column fame">One</div>
    <div class="eleven columns fame">Eleven</div>

  <!-- just use a number and class 'column' or 'columns' -->
    <div class="two columns fame">Two</div>
    <div class="ten columns fame">Ten</div>

  <!-- there are a few shorthand columns widths as well -->
    <div class="one-third column fame">1/3</div>
    <div class="two-thirds column fame">2/3</div>

    <div class="one-half column fame">1/2</div>
    <div class="one-half column fame">1/2</div>

	<div class="twelve columns">
		<!-- Standard Headings -->
<h2>H2. Heading. Maecenas sed diam eget risus varius blandit sit amet non magna.</h2>
<p>body. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
<h3>H3. Heading. Maecenas sed diam eget risus varius blandit sit amet non magna.</h3>
<p>body. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
<h4>H4. Heading. Maecenas sed diam eget risus varius blandit sit amet non magna.</h4>
<p>body. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
<h5>H5. Heading. Maecenas sed diam eget risus varius blandit sit amet non magna.</h5>
<p>body. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
<h6>H6. Heading. Maecenas sed diam eget risus varius blandit sit amet non magna.</h6>
<p>body. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>

<!-- Base type size -->
<p>The base type is 15px over 1.6 line height (24px)</p>

<!-- Other styled text tags -->
<strong>Bolded</strong>
<em>Italicized</em>
<a>Colored</a>
<u>Underlined</u>
</div>

<div class="twelve columns">
	<h3>Buttons</h3>
<p>Buttons come in two basic flavors in Skeleton. The standard <button> element is plain, whereas the .button-primary button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a .button class.</p>	
<!-- Standard buttons -->
<a class="button" href="#">Anchor button</a>
<button>Button element</button>
<input type="submit" value="submit input">
<input type="button" value="button input">

<!-- Primary buttons -->
<a class="button button-primary" href="#">Anchor button</a>
<button class="button-primary">Button element</button>
<input class="button-primary" type="submit" value="submit input">
<input class="button-primary" type="button" value="button input">

</div>

<div class="twelve columns">
	<h3>Lists</h3>
	<ul>
		<li>Item 1</li>
		<li>
		  Item 2
		  <ul>
			<li>Item 2.1</li>
			<li>Item 2.2</li>
		  </ul>
		</li>
		<li>Item 3</li>
	  </ul>
</div>

<div class="six columns">	
		<h3>Services</h3>
		<p><ul>
				<li>(Product) Strategy</li>
				<li>User Research</li>
				<li>Interaction Design</li>
				<li>Prototyping & Testing</li>
				<li>Product/Project Management</li>
				<li>Communication Design (Photo, Video, Web)</li>
			</ul>
		</p>
	</div>
	<div class="six columns">		
		<h3>Clients</h3>
		<ul>
		<li>Google (6 month 100% project)</li>
		<li>Twaice (5 month 50% project)</li>
		<li>EnergieAG Innovation Lab (7 month 50% project)</li>
		<li>Deutsche Telekom (6 month 100% project)</li>
		<li><a href="https://alles-clara.at/">Clara</a> (11month 75% project)</li>
	</ul>
	</div>
</div>	


<div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Need help getting started?</h3>
      <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
      <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
    </div>
  </div>

</section>

</article>	

<!-- footer -->
<footer class="container">
	<div class="footerleft">
		<img data-src="../img/smeidu-selfie.jpg" alt="Markus selfie photo" class="lazy loaded"  data-ll-status="loaded" src="../img/smeidu-selfie.jpg">
		<p class="footername">Markus Schmeiduch</p>
		<p>Interaction Designer</br>
		<a href="https://twitter.com/smeidu">@smeidu</a></p>
	</div>
	<div class="footerright">
		<nav>
			<ul>
				<li><a href="../imprint/">Imprint</a></li>
				<li><a href="../privacypolicy/">Privacy Policy</a></li>
			</ul>
		</nav>
	</div>	
	</footer>

</body>
</html>