/* author: Markus Schmeiduch */
/* Reset CSS */
* { 
	margin:0;
	padding:0;
	margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
	padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
  --blue: #00ace8;
}

/* Basic Styles and Typo */

html {
    padding: 0; 
    scroll-behavior: smooth;
}

body { 
    font-family: 'adelle-sans', sans-serif;
	  font-style: normal;
	  font-weight: 400;	
    background-color: #EF8571;
    line-height: 1.5em;
    color: #fff;
    font-size: 16px;
}

h2 {
    font-family: 'adelle', sans-serif;
    font-weight: 100;
    margin-top: 0em; 
    margin-bottom: .5em;
    font-size: 2em;
}

.caption {
  font-size: .8em;
}

a, a:visited {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

img { max-width: 100%; width: 100%; height: auto; border-radius: 5px; }
.photo img { border: 0 solid #666; }
iframe { margin-bottom: 0em; border: none; overflow: hidden; width: 100%; max-width: 100%; }
.nodisplay { display: none; }

/* Grid */



.container {
    max-width: 960px;
    margin: 1em auto;
    padding: 0 1em;
    overflow: hidden;
}

section { 
      display: grid;
      grid-gap: calc(1vw) calc(0.25em + 1vw);
      grid-template-columns: repeat(12, 1fr);
      border-bottom: 1px solid #fff; 
      padding-bottom: 2em; 
      padding-top: 2em;
      }

      section p {  
        margin-bottom: 1em;
        text-indent: 0em;
        hyphens: auto;
        -webkit-hyphens: auto;
        }

        section p:first-of-type {
          text-indent: 0;
        }

        section .noindent { text-indent: 0; }
        section .nomargin { margin-bottom: 0; }
        section .margin-bottom { margin-bottom: 1.5em; }
        .ps { margin-top: 1.5em; padding-top: 1.5em; border-top: 1px dotted #dfdfdf; }

      section hr + p { text-indent: 0; } /* Adjacent Sibling Selection --> + */
      section h5 + p { text-indent: 0 }

  .one, .two, .three, .four, .one-third, .five, .six, .one-half, .seven, .nine, .ten, .eleven, .twelve {
    grid-column: span 12;
    }
  
  .three.photo, .one-fourth.photo   { grid-column: span 3; }
  .four.photo, .one-third.photo     { grid-column: span 4; }
  .six.photo, .one-half.photo       { grid-column: span 6; }
  .eight.photo, .two-thirds.photo   { grid-column: span 8; }

  .contents           { grid-column: span 12; text-align: center; }

  .photo { 
    display: flex;
    justify-content: center;
    align-items: center;
    }


  hr { 
    grid-column: span 12;
    width: 20%; 
    margin: 1.5em auto; 
    border: 0; 
    border-top: 1px solid #ddd; 
    display: inline-block;
    } 

 /* Header */   

    h1 {text-align: center;}

    .logo a {
      display: block;
      text-indent: -9999px;
      width: 150px;
      height: 52px;
      background: url(../_img/smeidu.svg);
      background-size: 150px 52px;
      margin: 0 auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      outline: none;
    } 

 /* Nav */ 

    .nav {
      text-align: center; 
      padding-bottom: 1.7em;
      padding-top: 1.7em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      font-family: 'adelle', serif;
      font-weight: 300;
      font-style: normal;
    }

    .nav a { text-decoration: none; border-radius: 0px; padding: 15px 22px 15px 22px;}
    @media ( min-width: 374px ) {.nav a { padding: 15px 30px 15px 30px;}}
    .nav a:hover { color: #fff; background: rgba(0,0,0,0.10); }
    .navborder {border-left: 1px solid #fff; border-right: 1px solid #fff;}
    .navactive {font-weight: 600;}

    .nav li, .nav a {
    display: inline; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.2em;
    }

/* Article */ 

  .basetemplate p {margin-bottom: 3em;}

/* Footer */  

  footer { 
    color: #fff; 
    margin-top: 4em; 
    margin-bottom: 6em; 
    text-align: left; 
    font-size: .85em;
    line-height: 1.5em;
    }

    footer p { margin-bottom: 1.5em; }

    footer nav ul { list-style: none; margin-top: 1em; margin-left: 0;}
    footer nav ul li { display: inline; margin-left: 0; margin-right: .5em; }
    footer nav ul li a { font-size: .9em;  margin-left: 0; letter-spacing: 1px; }
    footer a { text-decoration: underline; background-color: inherit; padding: 0; color: #fff;}
    footer a:hover { color: #fff; background-color: inherit; }
    footer a:visited {color: #fff; }
    footer img {border-radius: 50%; border: 2px solid #fff; width: 80px; float: left; margin-right: 20px; margin-top: 0px;}
    .footername {font-size: 1.1em; font-weight:600; margin-bottom: 0em; padding-top: 10px;}

/* For big screens */  

@media ( min-width: 550px ) {

  section { 
    grid-gap: calc(0.25em + 1vw) calc(1em + 1vw);
    padding-bottom: 2em; 
    padding-top: 2em;
    }


  input { width: 30%; }


  .two-block { 
    columns: 2;
    column-gap: calc(1em + 1vw);
    }

  .one                { grid-column: span 1; }
  .two                { grid-column: span 2; }
  .three              { grid-column: span 3; }
  .four, .one-third   { grid-column: span 4; }
  .five               { grid-column: span 5; }
  .six, .one-half     { grid-column: span 6; }
  .seven              { grid-column: span 7; }
  .eight, .two-thirds { grid-column: span 8; }
  .nine               { grid-column: span 9; }
  .ten                { grid-column: span 10; }
  .eleven             { grid-column: span 11; }
  .twelve             { grid-column: span 12;}

  .contents           { grid-column: 4 / span 6; text-align: center; }

  .imageplatznachobenMobile {margin-top: 0em;}

  .introXtextFirst {padding-left: 8em; padding-right: 8em;}

  .logo a {
    float: left;
    margin-right: 35px;
    margin-top: 0.0em;
  } 

  .nav {
    text-align: left; 
    padding-top: 1.0em;
    border-top: 0px solid #fff;    
  }

  .navfirst {border-left: 1px solid #fff;}
  .navlast {border-right: 1px solid #fff;}

  .footerleft {max-width: 50%; display:block; float:left;}
  .footerright {max-width: 50%; float: right; display: block;}

}




/* PageTemplates */  

body#PageWork{background-color:#515EB0;}
body#PageAbout{background-color:#A07191;}
body#PageContact{background-color:#D17867;}
body#PageImprint {
    background: linear-gradient(270deg, #515eb0, #a07191, #d17867);
    background-size: 600% 600%;

    -webkit-animation: root 41s ease infinite;
    -moz-animation: root 41s ease infinite;
    animation: root 41s ease infinite;
}

@-webkit-keyframes root {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes root {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes root {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body#PagePrivacyPolicy{
  background-color:#fff;
  color: #000;
}